//! BIG BLOCKS TO STYLE THEM INDIVIDUALLY

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem 1fr 2rem;

  &__body {
    background: rgb(225, 225, 225);
    padding: 1rem;
  }
}

main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100%;
  gap: 1rem;
}

.app-header {
  @include flexBox($jc: flex-start);
  height: 100%;
  padding: 0 1rem;
  gap: 1rem;
}

.app-footer {
  @include flexBox;
  height: 100%;
  padding: 0 1rem;
}

.app-button {
  @include flexBox;
  padding: 0.25rem 0.5rem;
  background: $red;
  color: $whitesmoke;
  font-size: 16px;
  font-weight: bold;
}

.topic-list-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: fit-content;
  gap: 1rem;
}

.page-card {
  @include flexBox($fd: column);
  height: fit-content;
  background: $red;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgb(175, 175, 175);
  overflow: hidden;

  &__title {
    @include flexBox;
    position: relative;
    margin: auto 0;
    width: 100%;
    height: fit-content;
    padding: 0.5rem 0;
    color: $whitesmoke;
    font-family: $manrope-font;
    font-size: 24px;
  }

  button {
    background: $white;
    width: 100%;
    padding: 0.5rem 1.5rem;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
  }
}

.disabled-block {
  filter: grayscale(1);
  opacity: 0.5;
}

.topic-details {
  width: 100%;
  height: 100%;
  border: 3px solid rgb(85, 85, 85);
  border-radius: 20px;
}
