//! STYLIZING BARE TAGS
button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: $manrope-font;

  &:disabled {
    cursor: not-allowed;
  }
}
