<div class="topic-details">
  <input
    type="text"
    #input
    (input)="saveInputChange(input.value)"
    (blur)="onBlur(input)"
  />
  <p #p>{{ savedInfo }}</p>

  <div class="user-details">
    <label>
      {{ this.info.name }}
      <input type="text" />
    </label>
    <label>
      {{ this.info.email }}
      <input type="email" />
    </label>
  </div>

  <button
    class="app-button topic-details__button"
    [routerLink]="['', { outlets: { details: null } }]"
  >
    Close
  </button>
</div>
